{% extends '::backend.html.twig' %}

{# for removing the tool bar wrapper #}
{% block toolbarwrapper %} {% endblock %}

{# for removing the breadcrumb wrapper #}
{% block breadcrumbwrapper %}
{% endblock %}

{% block desktop %}
	
	{# 404 label #}
	<div class="row">
		{# large and medium #}
		<div class="hidden-xs hidden-sm col-md-6 col-lg-6">
	        <h1>
	        <span class="pull-right label label-danger">404</span>
	        </h1>
    	</div>
    	{# small #}
	    <div class="hidden-xs col-sm-6 hidden-md hidden-lg">
	        <h3>
	        <span class="pull-right label label-danger">404</span>
	        </h3>
	    </div>
	    {# extra small #}
	    <div class="col-xs-6 hidden-sm hidden-md hidden-lg">
	        <span class="pull-right label label-danger">404</span>
	    </div>
	</div>

	{# message #}
	<div class="row">
		{# large and medium #}
		<div class="hidden-xs hidden-sm col-md-10 col-lg-10">
			<h1 class="pull-right">
				&nbsp; {{ message }} &nbsp;
			</h1>
		</div>
		{# small #}
		<div class="hidden-xs col-sm-10 hidden-md hidden-lg">
			<h4 class="pull-right">
				&nbsp; {{ message }} &nbsp;
			</h4>
		</div>
		{# extra small #}
	    <div class="col-xs-10 hidden-sm hidden-md hidden-lg">
	        <p class="pull-right">
				&nbsp; {{ message }} &nbsp;
			</p>
	    </div>
	</div>

{% endblock %}